<div class="user-list">
  <h2>Liste des utilisateurs</h2>
  <ul>
    <li *ngFor="let user of users">
      <strong>{{user.login}}</strong>  {{user.email}}
    </li>
  </ul>
</div>


<form>
  <div class="form-group">
    <label for="login">Login:</label>
    <input class="form-control" type="text" id="login"
           [(ngModel)]="user.login" name="login">
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input class="form-control" type="text" id="email"
           [(ngModel)]="user.email" name="email">
  </div>
</form>
