<div class="container">
    <!--<div class="menu-principal">
        <ul class="menu">
            <li routerLink="/users" routerLinkActive="active">User</li>
            <li routerLink="/posts" routerLinkActive="active">Post</li>
        </ul>
    </div>-->
    <!--<app-user></app-user>-->

  <input type="text" autoGrow />


    <router-outlet></router-outlet>
</div>

