/* You can add global styles to this file, and also import other style files */

.user-list li {
    list-style: none;
    background: #eee;
    margin: 0.5em;
    padding: 1em;
    border-radius: 5px;
}